body {
    height: 98vh;
    background-image: url(https://www.fanmuebles.com/6179-superlarge_default/escritorio-barato.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

p {
    font-size: 45px;
    margin-left: 5px;
}

.pro {
    font-size: 25px;
    margin-left: 5px;
    color: red
}


#header {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

section {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}



footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    width: 99.5%;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.RRSS {

    height: 25px;
    width: 25px;
}

body {
    opacity: 0;
    transition: opacity 1s;
}