* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    width: 100vh;
}

.cabeza {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 8fr 4fr;
    padding: 0;

}

header {
    background-color: rgb(151, 94, 40);
}

.imagen {
    background-color: rgb(144, 60, 0);
}

.Content {
    display: grid;
    grid-template-columns: 6fr 6fr;
    background-color: orange;

}

.left {
    background-color: orange;
    display: grid;
    grid-template-rows: 4fr 4fr 4fr;
    text-align: center;
}

aside {
    background-color: white;
    color: orange;
}

.right {
    background-color: orangered;
    display: grid;
    grid-template-rows: 6fr 6fr;
    text-align: center;
}

article {
    border: solid white 1px;
    margin: 1px;
}

footer {
    background-color: rgb(144, 60, 0);
    text-align: center;
    color: white;
}