* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.a {
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
}

.b {
    background-color: orange;
    color: white;
    font-size: x-large;
    text-align: center;
}

.c {
    background-color: rgb(171, 111, 0);
    color: white;
    font-size: x-large;
    text-align: center;
}

.d {
    background-color: red;
    color: white;
    font-size: x-large;
    text-align: center;
}

.e {
    background-color: blue;
    color: white;
    font-size: x-large;
    text-align: center;
}

.f {
    background-color: yellow;
    color: white;
    text-align: center;
    font-size: x-large;
}