* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr 2fr);
    grid-template-rows: repeat(1, 1fr 1fr 1fr);
}

.a {
    background-color: greenyellow;
    color: black;
    font-size: x-large;
    text-align: center;
}

.b {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}

.c {
    background-color: greenyellow;
    color: black;
    font-size: x-large;
    text-align: center;
}

.d {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}

.e {
    background-color: greenyellow;
    color: black;
    font-size: x-large;
    text-align: center;
}

.f {
    background-color: black;
    color: white;
    text-align: center;
    font-size: x-large;
}