#header {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

body {
    height: 100vh;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/escritorio-decorado-con-fibras-naturales-1597243230.jpg?crop=1xw:1xh;center,top&resize=980:*);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.text {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 50px;
    color: #000;

}

.content {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 75%;
    font-size: 30px;
    background-color: lightgrey;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    width: 99.5%;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.RRSS {

    height: 25px;
    width: 25px;
}