* {
    background-image: url(https://static.educalingo.com/img/ms/800/savana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    margin: 5%;
}

img {

    border-color: white;
    border-style: solid;
    transform: scale(1);
    width: 20%;
}