* {
    background-image: url(https://static.educalingo.com/img/ms/800/savana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body {

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2%;
    padding: 2px;
    width: 100%;
    height: auto;
}

img {

    padding: 5px;
    border: white solid transparent;
    width: 22%;
    height: 250px;
}