* {
    background-image: url(http://t1.gstatic.com/images?q=tbn:ANd9GcS78ufsjXC09GlQI2bdt7pLAe0rn64V8F_5eZCv-Atin3tDLJv6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

body {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    margin: 5%;
}

img {

    border-color: white;
    border-style: solid;
    transform: scale(1);
    width: 20%;
}