* {
    background-image: url(http://t1.gstatic.com/images?q=tbn:ANd9GcS78ufsjXC09GlQI2bdt7pLAe0rn64V8F_5eZCv-Atin3tDLJv6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2%;
    width: 100%;
    height: auto;
}

img {

    padding: 5px;
    border: white solid transparent;
    width: 22%;
    height: 200px;
}